{% extends "base.html" %} {%block title%}Admin{%endblock%}{%block header%}{%if
id%}Edit{%else%}Create{%endif%} coffee{%endblock%} {%block content%}
<form action="/coffees/{{id|default('')}}?admin=1" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" value="{{coffee.name}}" />
  <label for="price">Price</label>
  <input
    id="price"
    type="number"
    name="price"
    step="0.1"
    value="{{coffee.price}}"
  />
  <label for="quantity">Quantity</label>
  <input
    id="quantity"
    type="number"
    name="quantity"
    step="1"
    value="{{coffee.quantity}}"
  />
  <fieldset>
    <legend>Is Offer?</legend>
    <div>
      <input
        type="radio"
        id="yes"
        name="is_offer"
        value="1"
        checked="{{coffee.is_offer}}"
      />
      <label for="yes">Yes</label>
    </div>

    <div>
      <input
        type="radio"
        id="no"
        name="is_offer"
        value="0"
        checked="{{not coffee.is_offer}}"
      />
      <label for="no">No</label>
    </div>
  </fieldset>
  <button type="submit">
    {%if not id and id != 0 %}Create{%else%}Edit{%endif%}
  </button>
</form>
{%endblock%} {%block footer%} {%if admin%}
<a href="/">Menu (anonymous view)</a>
<a href="/?admin=1">Menu (admin view)</a>
{%endif%}{%endblock%}
