<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%} - Ephemereal Coffeeshop</title>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <script src="https://unpkg.com/htmx.org@2.0.10/dist/htmx.min.js"></script>

    <style>
      @media (prefers-color-scheme: dark) {
        :root {
          color-scheme: light;
          --bg: #fff;
          --accent-bg: #f5f7ff;
          --text: #212121;
          --text-light: #585858;
          --accent: #0d47a1;
          --accent-hover: #1266e2;
          --accent-text: var(--bg);
          --code: #d81b60;
          --preformatted: #444;
          --marked: #ffdd33;
          --disabled: #efefef;
        }
      }
    </style>
  </head>

  <body>
    <header>
      <h1>{%block header %}{%endblock%}</h1>
    </header>
    <div>{%block content%}{%endblock%}</div>
    <footer>
      <blockquote>
        <p>{%if admin %}Admin mode ⚒️{%else%}{{message}}{%endif%}</p>
      </blockquote>
      {%block footer%}{%endblock%}
    </footer>
  </body>
</html>
