<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu - Virtual Coffeeshop</title>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />

    <style>
      @media (prefers-color-scheme: dark) {
        :root {
          color-scheme: light;
          --bg: #fff;
          --accent-bg: #f5f7ff;
          --text: #212121;
          --text-light: #585858;
          --accent: #0d47a1;
          --accent-hover: #1266e2;
          --accent-text: var(--bg);
          --code: #d81b60;
          --preformatted: #444;
          --marked: #ffdd33;
          --disabled: #efefef;
        }
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Virtual coffeeshop</h1>
    </header>
    <h3>Menu</h3>
    <ul>
      {% for coffee in coffees %}
      <li>
        <span>{{coffee.name}} - {{coffee.price}} €&nbsp;</span>
        {%if coffee.is_offer %}
        <strong>🎉 SPECIAL OFFER</strong>
        {%endif%}
      </li>
      {%endfor%}
    </ul>
    <footer><a href="/admin">Admin</a></footer>
  </body>
</html>
